<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--定义参数常量-->
    <!--TRACE<DEBUG<INFO<WARN<ERROR-->
    <springProfile name="dev,test">
        <property name="log.level" value="debug"/>
    </springProfile>
    <springProfile name="prod">
        <property name="log.level" value="info"/>
    </springProfile>
    <!-- 历史保留天数 -->
    <property name="log.maxHistory" value="100"/>
    <!--log日志存放路径-->
    <property name="log.filePath" value="log"/>
    <!--log日志的输出格式-->
<!--    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{serialNo:-MAIN} %green([%thread]) %highlight(%-5level %logger{50} -%msgdesense%n)"/>-->

    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{serialNo:-MAIN} [%thread] %-5level %class{18} %L -%msg%n"/>

<!--    <conversionRule conversionWord="msgdesense" converterClass="com.hashtech.icommunity.utils.LogbackLogContentConverter" />-->

    <!--控制台设置-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.hashtech.icommunity.utils.MaskingPatternLayout">
                <maskPattern>idNumber=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>userid=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>cardNo=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>idCard=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>\"idNumberHash\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idNumber\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"userid\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"cardNo\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idCard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idcard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>phone=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>phone2=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>name=.{1}(.+?)\b</maskPattern>
                <maskPattern>realName=.{1}(.+?)\b</maskPattern>
                <maskPattern>\"phone\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"phone2\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"name\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realName\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realname\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <pattern>${log.pattern}</pattern>
            </layout>
        </encoder>
    </appender>

    <!--DEBUG-->
    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件路径-->
        <file>${log.filePath}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件名称-->
            <fileNamePattern>${log.filePath}/debug/debug.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--文件最大保存历史数量-->
            <MaxHistory>${log.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.hashtech.icommunity.utils.MaskingPatternLayout">
                <maskPattern>idNumber=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>userid=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>cardNo=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>idCard=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>\"idNumberHash\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idNumber\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"userid\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"cardNo\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idCard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idcard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>phone=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>phone2=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>name=.{1}(.+?)\b</maskPattern>
                <maskPattern>realName=.{1}(.+?)\b</maskPattern>
                <maskPattern>\"phone\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"phone2\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"name\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realName\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realname\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <pattern>${log.pattern}</pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--INFO-->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件路径-->
        <file>${log.filePath}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件名称-->
            <fileNamePattern>${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--文件最大保存历史数量-->
            <MaxHistory>${log.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.hashtech.icommunity.utils.MaskingPatternLayout">
                <maskPattern>idNumber=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>userid=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>cardNo=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>idCard=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>\"idNumberHash\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idNumber\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"userid\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"cardNo\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idCard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idcard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>phone=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>phone2=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>name=.{1}(.+?)\b</maskPattern>
                <maskPattern>realName=.{1}(.+?)\b</maskPattern>
                <maskPattern>\"phone\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"phone2\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"name\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realName\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realname\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <pattern>${log.pattern}</pattern>
            </layout>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--ERROR-->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件路径-->
        <file>${log.filePath}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件名称-->
            <fileNamePattern>${log.filePath}/error/error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--文件最大保存历史数量-->
            <MaxHistory>${log.maxHistory}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.hashtech.icommunity.utils.MaskingPatternLayout">
                <maskPattern>idNumber=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>userid=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>cardNo=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>idCard=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>\"idNumberHash\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idNumber\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"userid\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"cardNo\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idCard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"idcard\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>phone=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>phone2=\d{3}(.+?)\d{4}\b</maskPattern>
                <maskPattern>name=.{1}(.+?)\b</maskPattern>
                <maskPattern>realName=.{1}(.+?)\b</maskPattern>
                <maskPattern>\"phone\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"phone2\"\s*:\s*\"\d{3}(.+?)\d{4}\"</maskPattern>
                <maskPattern>\"name\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realName\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <maskPattern>\"realname\"\s*:\s*\".{1}(.+?)\"</maskPattern>
                <pattern>${log.pattern}</pattern>
            </layout>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--常规日志输出, additivity属性为true时,这里配置的信息也会在IDE控制台打印出来-->
    <logger name="com.hashtech.icommunity" level="${log.level}" additivity="true">
        <appender-ref ref="debugAppender"/>
        <appender-ref ref="infoAppender"/>
        <appender-ref ref="errorAppender"/>
    </logger>

    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
